nav {
  display: flex;
  flex-direction: row;
    height: 120px;
    width: 100vw;
    background-color: #4056A1;
    color: #FFFFFF;
    font-family:sans-serif;
    padding-left: 1.5em; 
    padding-right: 1.5em; 
    position: fixed;
    justify-content: space-between;
   
  
  }
  h5{
    display: flex; /* Use flexbox to center the Twitter icon vertically */
    align-items: center; /* Center vertically */
    text-align: justify;
  }
  span{
    display: flex; /* Use flexbox to center the Twitter icon vertically */
    align-items: center; /* Center vertically */
    text-align: justify;
    font-family: Bungee; 
  }
  .icon {
    position: relative;
    /* Adjust these values accordingly */
    top: 20px;
    left: -100px;
  }