
.new-tweet{
display:flex;
flex-direction: column;

}
.formcss{
    display:flex;
    flex-direction:column;
    justify-content: center
   
}

.textarea1{
    width: 150%;
   margin-top:40px;
    height: 90px;
  padding: 12px 20px;
 margin-right: 200px;
 text-align: left;

}
.textareacss{
    display:flex;
    width: 100%;
    background-color: #e1d6c6;
    border:none;
    font-size: medium;
    justify-content: center;
    border-bottom: 1px solid;
   
}
.textarea2{
    margin-top: 80px;
    display:flex;
   height:40px
    
}


.divcss{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 20px;

}
.buttoncss{
    display:flex;
    justify-content:left;
    background-color: blue;
    border-width: 5px;
    border-color: blueviolet;
    color: aliceblue;


}

 main h2{
 margin-top:10px;   
 font-size:large;
    text-align: center;
    color:rgb(14, 112, 169);
    margin-left: 80px;
}
.outputcss{
    display:flex;
    justify-content: flex-end;
    text-align: right;
    color:blue;
    margin-right:10px;
}
article {
    display: flex;
    box-sizing: border-box;
    width: 70%;
    border: solid #aeb8ee 3px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;

}
article:hover{
    box-shadow: 10px 5px 5px rgb(83, 99, 252);
}

.tweet-header{
    display: flex;
   flex-flow: row;
   font-size: medium;
    color: rgba(105, 105, 165, 0.665);
    margin-left: 5px;
    justify-content: space-between;
    margin-right: 4px;

}
.avatar2{
    display:flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 20px;
}
.header-p2{

    margin-top:20px;
    color:#b65e17;
    margin-right:1px;  

}
.tweet-footer{
    display: flex;
   
    flex-direction: row;
    font-size: medium;
    justify-content: space-between;
    resize: none;
    
    
}

.footer-text{
display: flex;
color:#7c8ad8;
justify-content: left;
margin-top: 60px;
margin-bottom: 15px;

}

.div-icon{
    margin-top: 40px;
    margin-right:2em;
    margin-bottom: 15px;
}

.fa-heart,
.fa-flag,
.fa-arrows-rotate {
margin-right:5px;
margin-top: 30px;
}


.hovercss:hover {
   color: yellow;

  }
  .validation{
     color: #D63301;
     background-color: #dfd2cd;
    border: 1px solid;
	

  }
  .divError{
    display:none;
    font-size: medium;
    text-align: center;
    width: 400px;
    margin-top:30px;
   
  }
  
  @media only screen  and (min-width: 1024px) { 
    body{

        display:flex;
        flex-direction: row;
    }
        
    }
    
   @media only screen  and (max-width: 1024px) { 

    body{
       
        display:flex;
        flex-direction:column;

    }
    
    body nav{
        z-index:1;
        background-color: #dad062;
        background-image: url("../images/3px-tile.png");
    
    }
    body .header
    {
        z-index:2;
        height:300px;
        width:100%;
        display:flex;
        margin-left:0px;
        margin-top:0px;
        align-items: center;
        justify-content: center;
        flex-direction: column;   
        background-color:#dad062;
        background-image: url("../images/3px-tile.png");  
       
    }
    main h2{
        margin-top:0px;   
   }
      
   }

   
